@model ContactFormModel
@{
    ViewBag.Title = "About";
}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group-sm">
            @Html.LabelFor(m => m.name, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.name)
            </div>
        </div>
        <div class="form-group-sm">
            @Html.LabelFor(m => m.businessName, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.businessName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.businessName)
            </div>
        </div>
        <div class="form-group-sm">
            @Html.LabelFor(m => m.email, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.email)
            </div>
        </div>
        <div class="form-group-sm">
            @Html.LabelFor(m => m.phoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.phoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.phoneNumber)
            </div>
        </div>
        <div class="form-group-sm">
            @Html.LabelFor(m => m.message, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.message)
            </div>
        </div>
        <input type="submit" class="btn btn-outline-dark" value="Send" />
    }
</div>
